<!DOCTYPE html>
{% load static i18n  %}
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- Основная информация -->
        <meta name="description" content="Фонд 'Руки Милості' надає психологічну, гуманітарну та соціальну допомогу дітям, родинам та всім, хто потрапив у складні життєві обставини. Ми організовуємо підтримку, освітні ініціативи та надаємо продовольчу допомогу.">
        <meta name="keywords" content="Психологічна допомога, гуманітарна допомога, соціальна підтримка, допомога дітям, допомога родинам, підтримка біженців, благодійність, підтримка в Україні, допомога нужденним">
                <!-- Open Graph (для соцсетей) -->
        <meta property="og:title" content="Фонд 'Руки Милості' - Благодійна організація в Україні">
        <meta property="og:description" content="Фонд 'Руки Милості' надає підтримку та допомогу всім, хто цього потребує. Психологічна допомога, гуманітарна та соціальна підтримка для дітей та родин.">
    
        <meta property="og:type" content="website">
        <meta property="og:locale" content="uk_UA">
        <meta property="og:site_name" content="Фонд Руки Милості-Дніпро">        
        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Фонд 'Руки Милості' - Допомога нужденним в Україні">
        <meta name="twitter:description" content="Фонд 'Руки Милості' надає психологічну, гуманітарну та соціальну допомогу дітям та родинам у складних життєвих обставинах.">
                <!-- Robots -->
        <meta name="robots" content="index, follow">
        <meta name="google-site-verification" content="YOUR_VERIFICATION_CODE">
                <!-- Безопасность -->
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta name="referrer" content="no-referrer-when-downgrade">
                
        <!-- Apple иконка -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/logo180.png' %}">
        <!-- Android иконка -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon/Logo32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon/logo16.png' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'CSS/media.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>{% block title %}{% trans 'Руки Милості головна' %}{% endblock %}</title>

    </head>
  
    </body>
        {% include 'include/menu/menu.html' %}
            <main>
                {% block content %}
                    
                {% endblock %}
            </main>
        {% include 'include/footer/footer.html' %}
        <!--  bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <!--  bootstrap -->

        <div class="social-icons d-flex flex-column align-items-center">
            <a href="#" target="_blank" aria-label="Telegram">
                <img src="{% static 'image/soc/social-hand.svg' %}" class="social-footer-top-hand" alt="Telegram">
            </a>
            <a href="https://www.facebook.com/AoM.Dnipro" target="_blank" aria-label="Facebook">
                <img src="{% static 'image/soc/social-facebook.svg' %}" class="social-footer-top-telega" lt="Telephone">
            </a>
            <a href="https://www.instagram.com/arms_of_mercy.dnipro?igsh=MWxkdTE2ZDZqcTBrMw%3D%3Dhttps%3A%2F%2Fww" target="_blank" aria-label="Instagramm">
                <img src="{% static 'image/soc/social-Instagram.svg' %}" class="social-footer-top-insta" alt="WhatsApp">
            </a>
            <a href="https://www.youtube.com/@armsofmercy.dnipro"" target="_blank" aria-label="Instagramm">
                <img src="{% static 'image/soc/2youtobe.svg' %}" class="social-footer-top-insta" style="width:30px; height:30px;" alt="WhatsApp">
            </a>
        </div>
    </body>
</html>       