# Игнорировать виртуальные окружения
venv/

# Игнорировать файлы Python, скомпилированные байт-коды и кэш
__pycache__/
*.pyc

# Игнорировать конфигурационные файлы IDE
.idea/
.vscode/

# Игнорировать журнальные файлы
*.log

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать временные файлы
*.swp
config/db.sqlite3