{% extends "app/base.html" %}
{% load static i18n %}
{% block title %}{% trans "Контакти фонду Руки Милості - Дніпро" %}{% endblock %}
{% block content %}

    <!-- section description-ruki-milosty-->
    <section class="contact-ruki-milosty">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="contact-rukimilosty-bady d-flex justify-content-center align-items-center text-center flex-column">
                    <div class="contact-rukimilosty-item">
                        <h1>{% trans "Благодійний фонд Руки Милості" %}</h1>
                    </div>
                    <div class="contact-rukimilosty-text mt-3">
                        <h2>{% trans "Зараз саме час допомогти тим, хто цього потребує" %}</h2>
                    </div>
                    <div class="contact-rukimilosty-description mt-4">
                        <h3>{% trans "Допомагаємо людям, котрі опинилися у складних життєвих обставинах."%}</h3>
                    </div>
                    <div class="contact-rukimilosty-button mt-5">
                        <a href="#"></a><button class="button-section">{% trans "Підтримати фонд" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section description-ruki-milosty-->

     <!-- text -->
     <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">{% trans "Наші спонсори" %}</h2>
                    <p class="text-center description-text">{% trans "Спонсорська допомога для благодійного фонду — це можливість підтримати тих, хто потребує захисту" %}</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- sponsor-galler-sectiony-->
    <section class="sponsor-galler-sectiony">
        <div class="container">
            <div class="row justify-content-center align-items-center gap-5 mt-5">
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/ruki-sponsor.png' %}" alt="logo-sponsor-ruki-milosty" style="width:200px;">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/ruki-sponsor1.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/ruki-sponsor2.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
                {% comment %} <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/ruki-sponsor3.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div> {% endcomment %}
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/ruki-sponsor4.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/ruki-sponsor6.png' %}" class="sponsor-image" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!-- sponsor-galler-sectiony -->
    

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">{% trans "Наші контакти" %}</h2>
                    <p class="text-center description-text">{% trans "Наші адреси, за якими ви можете нас знайти, а також соціальні мережі." %}</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- section contacty-card -->
    <section class="contacty-section">
        <div class="container">
            <div class="row justify-content-center gap-1">
                <div class="col-auto p-0">
                    <div class="contact-card d-flex flex-column justify-content-start">
                        <div class="contact-card-two-body">
                            <div class="contact-text">
                                <h6>{% trans "Наші coц. мереж" %}і</h6>
                            </div>
                            <div class="contact-body-column d-flex flex-row">
                                <div class="contact-body-col-row d-flex align-items-center gap-3 mt-5">
                                    <a  href="https://www.instagram.com/arms_of_mercy.dnipro?igsh=MWxkdTE2ZDZqcTBrMw%3D%3Dhttps%3A%2F%2Fwww.facebook.com%2FAoM.Dnipro"><img src="{% static 'image/detail-face.svg' %}" alt="logo"></a>
                                    <a href="#"><img src="{% static 'image/detail-facebook.svg' %}" alt="logo"></a>
                                    <a href="https://www.facebook.com/AoM.Dnipro"><img src="{% static 'image/deyail-instagram.svg' %}" alt="logo"></a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-auto p-0">
                    <div class="contact-card-two d-flex flex-column justify-content-start">
                        <div class="contact-card-two-body">
                            <div class="contact-text">
                                <h6>{% trans "Наші адреси" %}</h6>
                            </div>
                            <div class="contact-body-column d-flex flex-row">
                                <div class="contact-body-col-row d-flex align-items-center gap-3 mt-5">
                                    <a href="#"><img src="{% static 'image/contact-map.png' %}" alt="logo"></a>
                                    <div class="contact-body-column-items">
                                        <a href="#"><p>Dnipro</p></a>
                                        <a href="#"><p>Ukraine</p></a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row align-items-center justify-content-center mt-1">
                    <div class="col-auto p-0">
                        <div class="contact-card-tree d-flex flex-column justify-content-start">
                            <div class="contact-card-body">
                            <div class="contact-text">
                                <h6>{% trans "Наші контакти" %}</h6>
                            </div>
                            <div class="contact-body-column d-flex flex-column gap-1 mt-4">
                                <div class="contact-body-col-row d-flex align-items-center gap-2 flex-row">
                                    <a href="#"><img src="{% static 'image/contact-phone.png' %}" alt="logo"></a>
                                    <a href="#"><p>095 504 1484</p></a>
                                </div>
                                <div class="contact-body-col-rows d-flex align-items-center gap-2 flex-row">
                                   <a href="#"><img src="{% static 'image/contact-mail.png' %}" alt="logo"></a> 
                                   <a href="mailto:armsofmercy.dnipro@gmail.com"><p>armsofmercy.dnipro@gmail.com</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section contacty-card -->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">{% trans "Наші реквiзити" %}</h2>
                    <p class="text-center description-text">{% trans "Наші реквізити для того, щоб ви могли фінансово підтримати наш фонд." %}</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
    <section class="card-contact-oplata-section mt-5 pb-4">
        <div class="container">
            <div class="row align-items-center justify-content-center gap-2">

                <div class="col-auto">
                    <a href="#">
                        <div class="card-contact-oplata d-flex">
                            <div class="card-contact-oplata-body">
                                <div class="card-contact-oplata-items d-flex flex-column">
                                    <div class="recvizit-card">
                                        <h5>{% trans "Получатель" %}</h5>
                                    </div>
                                    <div class="recvizit-card-item">
                                        <h6>UA833052990000026002021807346</h6>
                                    </div>
                                    <div class="card-contact-oplata-items-top d-flex flex-row justify-content-between gap-5">
                                        <div class="card-contact-oplata-items-column d-flex flex-column justify-content-center">
                                            <div class="card-oplata-recvizit-top">
                                                <h5>{% trans "ЕГРПОУ" %}</h5>
                                            </div>
                                            <div class="card-oplata-recvizit-top-item">
                                                <h6>40334905</h6>
                                            </div>
                                        </div>
                                        <div class="card-oplata-recvizit-img">
                                            <img src="{% static 'image/privat-bank.png' %}" alt="logo-privat">
                                        </div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#">
                        <div class="card-contact-oplata d-flex">
                            <div class="card-contact-oplata-body">
                                <div class="card-contact-oplata-items d-flex flex-column">
                                    <div class="recvizit-card">
                                        <h5>{% trans "Получатель" %}</h5>
                                    </div>
                                    <div class="recvizit-card-item">
                                        <h6>UA833052990000026002021807346</h6>
                                    </div>
                                    <div class="card-contact-oplata-items-top d-flex flex-row justify-content-between gap-5">
                                        <div class="card-contact-oplata-items-column d-flex flex-column justify-content-center">
                                            <div class="card-oplata-recvizit-top">
                                                <h5>{% trans "ЕГРПОУ" %}</h5>
                                            </div>
                                            <div class="card-oplata-recvizit-top-item">
                                                <h6>40334905</h6>
                                            </div>
                                        </div>
                                        <div class="card-oplata-recvizit-img">
                                            <img src="{% static 'image/privat-bank.png' %}" alt="logo-privat">
                                        </div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#">
                        <div class="card-contact-oplata d-flex">
                            <div class="card-contact-oplata-body-top">
                                <div class="card-contact-oplata-items d-flex flex-column">
                                    <div class="recvizit-card">
                                        <h5>{% trans "Получатель" %}</h5>
                                    </div>
                                    <div class="recvizit-card-item">
                                        <h6>armsofmercy.dnipro@gmail.com</h6>
                                    </div>
                                    <div class="card-contact-img-top">
                                        <img src="{% static 'image/PayPal-logo-white.png' %}" alt="logo-paypal">
                                    </div>
                                    
                                </div>
    
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock%}