{% extends "app/base.html" %}
{% load static %}
{% block title %}Головна Руки Милості - Дніпро{% endblock %}
{% block content %}

    <!-- секция   first-page-->
    <section class="container my-5 first-page">
        <div class="row p-4 align-items-center  first-color-section">
            <!-- текст  -->
            <div class="col-lg-4 text-center text-lg-start">
                <div class="first-text">
                    <h2><span class="small-text-first">Громадська організація</span><br>Руки Милості - Дніпро</h2>
                </div>
                <div class="first-item">
                    <h1>Змінюємо<br>&nbsp;&nbsp;&nbsp;життя на<br>краще</h1>
                </div>
                <div class="d-flex justify-content-center image-first-mobile mt-3">
                    <img src="{% static 'image/ruki-first.png' %}" class="img-first-page-mobile img-fluid" alt="Картинка Руки милости"/>
                </div>
                <div class="first-text-description d-flex justify-content-center mt-2">
                    <h3>Надання допомоги людям, які опинилися у складних життєвих обставинах, включаючи постраждалих від війни.</h3>
                </div>
                <div class="first-button p-2">
                   <a href="#"></a><button class="rounded-button">Підтримати</button>
                </div>
            </div>
            <!-- текст  -->
            <div class="col-lg-8 d-flex justify-content-end image-section">
                <img src="{% static 'image/ruki-first.png' %}" class="img-first-section" alt="Картинка Руки милости"/>
            </div>
        </div>
    </section>
    <!-- секция   first-page-->

    <!-- секция   first-page-->
    <section class="slaider-section">
        <div id="carouselExampleInterval" class="carousel slide slider-container" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'image/children/ch1.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch2.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
                <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch3.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch4.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch5.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch6.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch7.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch9.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch10.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch11.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch12.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch15.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch16.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch17.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch18.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch19.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch20.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch21.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch22.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch23.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch24.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch25.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch26.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch27.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch28.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch29.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch30.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch31.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- секция   first-page-->
  

    <!-- секция   Text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наша діяльність у цифрах</h2>
                    <p class="text-center description-text">Тисячі людей отримали допомогу: тимчасове житло, підтримку та турботу</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- секция   Text -->
    <!-- секция   card-dialnist -->
    <section class="dialnist-card">
        <div class="container">
            <div class="row justify-content-center align-items-center gap-3 flex-wrap">
                <!-- ряд -->
                <div class="col-auto d-flex justify-content-center left-card flex-column gap-3">
                    <div class="card-left-item d-flex align-items-center">
                        <div class="conteiner-left-item">
                            <h4>277,488+</h4>
                            <h5>ХЛІБІН</h5>
                            <p>випечено та роздано</p>
                        </div>
                    </div>
                    <div class="card-container-row d-flex flex-row gap-3">
                        <div class="card-column-item-left">
                            <div class="column-item-left-container">
                                <h4>19,351+</h4>
                                <h5>людей</h5>
                                <p>отримали фінансову допомогу</p>
                            </div>
                        </div>
                        <div class="card-column-item-right">
                            <div class="column-item-left-container">
                                <p>отримали психологічну допомогу</p>
                                <h4>4,661++</h4>
                                <h5>людей</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- ряд -->
                <div class="col-auto d-flex flex-row justify-content-center">
                    <div class="conteiner-right-row d-flex flex-row gap-3">
                        <div class="card-right-item">
                            <div class="column-item-right-container">
                                <h4>7,100+</h4>
                                <h5>ТОН</h5>
                                <p>гуманітарної допомоги роздано</p>
                            </div>
                        </div>
                        <div class="card-right-items d-flex flex-column gap-4">
                            <div class="card-right-description">
                                <div class="card-right-description-row">
                                    <p>відвідали дитячі центри</p>
                                    <h5>ДИТИНИ</h5>
                                    <h4>4,664</h4>
                                </div>
                            </div>
                            <div class="card-right-description">
                                <div class="card-right-description-rows">
                                    <p>поселенi у соціальному центрі</p>
                                    <h5>людей</h5>
                                    <h4>221</h4>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- секция   card-dialnist -->
      <!-- секция   Text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші проекти</h2>
                    <p class="text-center description-text">Наші проекти – реальна допомога тим, хто її потребує.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- секция   Text -->

    <!-- секция   Project -->
    <section class="card-project-section mt-5">
        <div class="container mt-2">
            <div class="row justify-content-center gap-3">
                <!-- секция   Project -->
                {% for project in latest_project %}
                        <div class="project-card d-flex justify-content-center flex-column">
                            <a href="{% url "hands:projects-detail" project.slug %}" class="project-card-link">
                                <img src="{{ project.main_image.url }}" class="imag-projects-card" alt="card">
                                <div class="card-body mt-3">
                                    <h5>{{project.name|truncatechars:20}}</h5>
                                </div>
                                <div class="card-description">
                                    <h6>{{project.description|truncatechars:100}}</h6>
                                </div>
                                <div class="project-status d-flex justify-content-between">
                                    {% if project.status == 'open' %}
                                        <span class="project-close">{{ project.get_status_display }}</span>
                                    {% else %}
                                        <span class="project-close">Закритий</span>
                                    {% endif %}
                                    <span class="project-month">{{project.created_at|date:"Y-m-d"}}</span>
                                </div>
                            </a>
                        </div>
                {% endfor%}    
                <!-- секция   Project -->
            </div>
        </div>
    </section>
    <!-- секция   Project -->

    <!-- секция  button -->
    <section class="section-button d-flex justify-content-center mt-5">
        <a href="{%  url 'hands:projects' %}"><button class="button-section">Переглянути всі проекти</button></a>
    </section>
    <!-- секция  button -->
    <!-- секция   Text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші новини</h2>
                    <p class="text-center description-text">Ми, благодійний фонд 'Руки милості', допомагаємо найбільш уразливим: внутрішньопереміщеним особам</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- секция   Card -->
    <section class="card-news-section mt-5">
        <div class="container mt-2">
            <div class="row justify-content-center gap-3">
                {% for items in latest_new %}
                    <div class="news-card d-flex justify-content-center flex-column position-relative" style="background-image: url('{{ items.main_image.url }}'); background-repeat: no-repeat; background-size: cover;">
                        <a href="{% url 'hands:news-detail' items.slug %}" class="news-card-style" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <!-- Слой затемнения -->
                            <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.1);"></div>
                            <!-- Текстовый контент сверху -->
                            <div class="news-card-body text-light position-absolute">
                                <div class="news-items">
                                    <h5>{{items.name|truncatechars:20}}</h5>
                                </div>
                                <div class="news-description pt-2">
                                    <h6>{{items.description|truncatechars:80}}</h6>
                                </div>
                                <div class="news-top mt-5 me-auto">
                                    <p>Дивитись новину</p>
                                </div>
                            </div>
                        </a> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- секция   Card -->

     <!-- секция  button -->
    <section class="section-button d-flex justify-content-center mt-5">
        <a href="{%  url 'hands:news' %}"><button class="button-section">Переглянути всі новини</button></a>
    </section>
    <!-- секция  button -->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Про нас</h2>
                    <p class="text-center description-text">Ми — команда професіоналів, яка об'єднала свої зусилля для того, щоб приносити реальну допомогу тим, хто цього потребує</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- about-img -->
    <section class="section-about-image">
        <div class="container mt-4">
            <div class="row justify-content-center">
       
                    <div class="d-flex justify-content-center image-about-style">
                        <img src="{% static 'image/team/team2.jpg' %}" alt="about">
                    </div>
         
            </div>

        </div>
    </section>
    <!-- about-img -->

    <!-- about-section-card -->
    <section class="about-card-section mt-3">
        <div class="container">
            <div class="row align-items-center justify-content-center g-2">
                <div class="col-auto d-flex flex-column justify-content-center gap-3">
                    <div class="about-card d-flex flex-column">

                        <div class="about-card-body d-flex justify-content-between">
                            <div class="about-card-body-item">
                                <h5>Про нас</h5>
                            </div>
                            <div class="about-card-body-logo">
                            
                            </div>
                        </div>

                        <div class="about-card-body-items d-flex justify-content-center px-5">
                            <p>Наша команда налічує близько 50 волонтерів, серед яких практикуючі педагоги та вихователі, психологи, сертифіковані фасилітатори, а також активні студенти й молодь. У сфері захисту дітей ми співпрацюємо з місцевими школами, сімейними центрами та міською адміністрацією. Фасилітатори нашої ГО пройшли навчання від міжнародних організацій (World Vision, USAID, ACTED тощо) за темами: «Позитивне батьківство», «Психосоціальна підтримка дітей», «Самодопомога Плюс», «Управління проблемами» та ін.</p>
                        </div>
                    </div>
                    <div class="about-card d-flex flex-column">

                        <div class="about-card-body d-flex justify-content-between">
                            <div class="about-card-body-item">
                                <h5>Місія</h5>
                            </div>
                            <div class="about-card-body-logo"></div>
                        </div>

                        <div class="about-card-body-items d-flex justify-content-center px-5">
                            <p>Сприяти покращенню якості життя людей і розвитку суспільства через реалізацію проєктів у гуманітарній, соціальній та освітній сферах, спрямованих на допомогу, підтримку та просвіту. Наша команда реалізує на Дніпропетровщині самостійні проєкти, а також проєкти материнської організації БФ «Руки Милості».</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-auto d-flex flex-column justify-content-center gap-3">
                    <div class="about-card d-flex flex-column ">

                        <div class="about-card-body d-flex justify-content-between">
                            <div class="about-card-body-item">
                                <h5>Принципи</h5>
                            </div>
                            <div class="about-card-body-logo"></div>
                        </div>

                        <div class="about-card-body-items d-flex justify-content-center px-5">
                            <p>
                                Наша організація базується на таких основних цінностях, як відповідальність, служіння суспільству та гуманність. Ми прагнемо забезпечувати саморозвиток і самообслуговування суспільства, збалансувати власні та суспільні інтереси, орієнтуючись на вищі цілі. Важливими аспектами є партнерська співпраця, захист прав людини, прозорість та підзвітність. Ми сприяємо рівності, чесності, законності та незалежності у всіх сферах діяльності.</p>
                        </div>
                    </div>
                    <div class="about-card d-flex flex-column ">

                        <div class="about-card-body d-flex justify-content-between">
                            <div class="about-card-body-item">
                                <h5>Бачення</h5>
                            </div>
                            <div class="about-card-body-logo"></div>
                        </div>

                        <div class="about-card-body-items d-flex justify-content-center px-5">
                            <p>Надання допомоги людям, які опинилися у складних життєвих обставинах, включаючи постраждалих від війни.Сприяння організації відпочинку, розвитку спортивних, творчих та освітніх програм для дітей, підлітків, жінок та сімей громади.Формування у дітей і підлітків високих моральних цінностей, сприяння їх соціалізації, духовному та психологічному розвитку та підтримці.Залучення членів громади до активної участі у соціальному житті, розвитку громадських ініціатив та надання позитивного внеску у життя суспільства.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    </section>
    <!-- about-section-card -->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші проєкти</h2>
                    <p class="text-center description-text">Наші соціальні та гуманітарні проєкти спрямовані на підтримку населення, надання допомоги сім’ям, дітям і всім, хто потребує. Ми реалізуємо ініціативи для соціального розвитку, освіти, психологічної підтримки та гуманітарної допомоги.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->


    <!-- detache-section -->
    <section class="new-ditache-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="new-ditache-image mt-3">
                        <img src="{% static 'image/raznoe/raznoe-hand.jpg' %}" alt="" class="image-fluid fixed-image-ditache">
                    </div>
                    <div class="new-ditache-item mt-4">
                        <h5>Допомога та розвиток</h5>
                    </div>
                   
                    <div class="new-ditache-item-description mt-4">
                        <h6>Наша команда має 10-річний досвід роботи (ще до створення ГО) з дітьми та підлітками різних категорій у сфері ментального здоров’я, психосоціальної підтримки та захисту дітей. Ми організували понад 20 тематичних дитячих таборів, заходів для дітей, профілактичних лекцій і створили кілька дружніх дитячих просторів.</h6>
                    </div>
                    <div class="new-ditache-item-description mt-4">
                        <h6>Ми проводимогуманітарні, освітні та соціальні проєкти для всіх, хто потребує підтримки. Це ініціативи, де діти та батьки отримують необхідну допомогу, беруть участь у семінарах, дитячих таборах і клубах, що сприяють їхньому розвитку та соціальній адаптації.</h6>
                    </div>
                    <div class="new-ditache-item-description mt-4">
                        <a href="{% url 'hands:projects' %}"><button class="button-section">Переглянути проєкти</button></a>
                    </div>

                </div>
                <div class="col-md-6 col-12">
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc2.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Гуманітарні проєкти </h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Наші гуманітарні проєкти спрямовані на соціальний розвиток різних верств населення – як дітей, так і дорослих. Ми реалізуємо програми для сімей, психологічні та пізнавальні тренінги, підтримку в кризових ситуаціях, а також допомогу військовим і їхнім родинам.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc3.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Соціальні проєкти </h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Наші соціальні проєкти спрямовані на підтримку сімей, дітей і всіх, хто потребує допомоги. Ми проводимо освітні, гуманітарні та психологічні ініціативи, створюємо простори для розвитку, взаємодії та соціальної адаптації.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc1.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Освітні проєкти</h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Наші освітні проєкти спрямовані на розвиток знань та навичок у різних вікових групах. Ми організовуємо тренінги, майстер-класи, курси для дітей і дорослих, допомагаючи кожному досягти свого потенціалу. В рамках проєктів проводимо навчання з психології, соціальної адаптації та розвитку особистості, а також забезпечуємо доступ до ресурсів для підвищення кваліфікації. Наші програми сприяють розвитку критичного мислення, покращенню комунікативних навичок і формуванню здорових соціальних зв'язків.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- detache-section -->

    <!-- oplata-section -->
    <section class="pidtrimka-card-section mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <a href="">
                    <div class="pidtrimka-card">
                        <div class="pidtrimka-card-body d-flex justify-content-between flex-wrap-reverse">
                            <div class="pidtrimka-card-body_text d-flex">
                                <h6>Підтримати благодійний фонд</h6>
                            </div>
                            <div class="pidtrimka-card-body_img d-flex justify-content-center align-items-center mx-auto"></div>
                        </div>
                        <div class="pidtrimka-card-oplata-body d-flex justify-content-between flex-wrap">
    
                            <div class="pidtrimka-card-oplata-body_items d-flex">
                                <h6>Руки Милості</h6>
                            </div>
                            <div class="pidtrimka-card-oplata-body_button d-flex">
                                <a href="#"></a><button class="button-section">Підтримати</button>
                            </div>
    
                        </div>
    
                    </div>
                </a>
                

            </div>
        </div>

    </section>
    <!-- oplata-section -->
     <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Напрямок нашої діяльності</h2>
                    <p class="text-center description-text">Надаємо допомогу людям, надаючи тимчасове житло та підтримку.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- section dialnist -card-->
    <section class="nasha-dialnist-section">
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5 gap-3">
                <div class="col-auto d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="nasha-dialnist-card">
                        <div class="nasha-dialnist-card-logo">
                            <img src="{% static 'image/card-cycle.svg' %}" alt="logo">
                        </div>
                        <div class="nasha-dialnist-card-body">
                            <div class="nasha-dialnist-card_text">
                                <h6>Продовольча/не продовольча, допомога</h6>
                            </div>
                            <div class="nasha-dialnist-card-description mt-4">
                                <p>Ми надаємо фінансову, продовольчу та дитячу допомогу сім’ям у складних обставинах, підтримуючи їхню стабільність і безпеку.</p>
                            </div>
                        </div>

                    </div>
                    <div class="nasha-dialnist-card">
                        <div class="nasha-dialnist-card-logo">
                            <img src="{% static 'image/card-home.svg' %}" alt="logo">
                        </div>
                        <div class="nasha-dialnist-card-body">
                            <div class="nasha-dialnist-card_text">
                                <h6>Психологічний захист</h6>
                            </div>
                            <div class="nasha-dialnist-card-description mt-4">
                                <p>Психологічна допомога для сімей, дітей і батьків – підтримка, адаптація та розвиток у складних життєвих ситуаціях.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-auto d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="nasha-dialnist-card">
                        <div class="nasha-dialnist-card-logo">
                            <img src="{% static 'image/card-line.svg' %}" alt="logo">
                        </div>
                        <div class="nasha-dialnist-card-body">
                            <div class="nasha-dialnist-card_text">
                                <h6>Притулок</h6>
                            </div>
                            <div class="nasha-dialnist-card-description mt-5">
                                <p>Надаємо притулок людям та допомагаємо в різних життєвих ситуаціях – фінансово, психологічно та соціально.</p>
                            </div>
                        </div>

                    </div>
                    <div class="nasha-dialnist-card">
                        <div class="nasha-dialnist-card-logo">
                            <img src="{% static 'image/card-new.svg' %}" alt="logo">
                        </div>
                        <div class="nasha-dialnist-card-body">
                            <div class="nasha-dialnist-card_text">
                                <h6>Освіта та треннінги</h6>
                            </div>
                            <div class="nasha-dialnist-card-description mt-4">
                                <p>Ми допомагаємо всім верствам населення, дітям і сім’ям через тренінги, що сприяють розвитку, адаптації та підтримці в складних життєвих ситуаціях.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section dialnist -card-->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Дивитися нас на YouTube</h2>
                    <p class="text-center description-text">Дивіться наші новини та звіти на YouTube-каналі благодійного фонду!</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- section video -->
    <section class="video-section">
        <div class="conteiner">
            <div class="row justify-content-center mt-5 gap-1">
                <div class="col-auto">
                    <div class="videio-card d-flex flex-column">
                        <div class="videio-card-body">
                            <div class="videio-card_items">
                                <h4>Наш відео канал</h4>
                            </div>
                            <div class="videio-card_text mt-3">
                                <h5>Наш YouTube-канал – тут ви знайдете всі наші відео, де ми ділимося нашими досягненнями!</h5>
                            </div>
                            <div class="videio-card_button mt-4">
                                <a href="#"></a><button class="button-section-video">Переглянути</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="video-card-content">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section video -->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наш шлях</h2>
                    <p class="text-center description-text">Наш шлях – це роки допомоги, підтримки та добрих справ на благо людей</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
    

    <!-- section shlah -->
    <section class="shlah-section">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-end mt-5 gap-3">
                <div class="col-auto align-items-center">
                    <div class="shlah-card-one">
                        <div class="shlah-card-one-top d-flex justify-content-between">
                            <div class="shlah-card-one-top_text">
                                <h6>2014</h6>
                            </div>
                            <div class="shlah-card-one-top_logo">
                                <img src="{% static 'image/shlah1.png' %}" alt="logo">
                            </div>
                        </div>
                        <div class="shlah-card-one-body">
                            <div class="shlah-card-one-body_items">
                                <p>Створення ініціативної групи для допомоги постраждалим від анексії Криму та військової агресії РФ на Сході України</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto align-items-center ">
                    <div class="shlah-card-two">
                        <div class="shlah-card-one-top d-flex justify-content-between">
                            <div class="shlah-card-one-top_text">
                                <h6>2016</h6>
                            </div>
                            <div class="shlah-card-one-top_logo">
                                <img src="{% static 'image/shlah2.png' %}" alt="logo">
                            </div>
                        </div>
                        <div class="shlah-card-one-body">
                            <div class="shlah-card-one-body_items">
                                <p>Державна реєстрація БФ «Руки милості» як організації, яка спрямовує гуманітарну допомогу в зону бойових дій, відкриття соціального центру для ВПО та створення дитячих таборів</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto align-items-center ">
                    <div class="shlah-card-three">
                        <div class="shlah-card-one-top d-flex justify-content-between">
                            <div class="shlah-card-one-top_text">
                                <h6 style="margin-top: 30px;">2022</h6>
                            </div>
                            <div class="shlah-card-one-top_logo">
                                <img src="{% static 'image/shlah3.png' %}" alt="logo">
                            </div>
                        </div>
                        <div class="shlah-card-one-body">
                            <div class="shlah-card-one-body_items">
                                <p>Державна реєстрація БФ «Руки милості» як організації, яка спрямовує гуманітарну допомогу в зону бойових дій, відкриття соціального центру для ВПО та створення дитячих таборів</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section shlah -->

    <!-- section ruki-->
    <section class="ruki-section">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">

                    <div class="ruki-body-column d-flex justify-content-center flex-column align-items-center">
                        <div class="ruki-text">
                            <h3>Підтримати благодійний фонд</h3>
                        </div>
                        <div class="ruki-item mt-2">
                            <p>Руки Милості</p>
                        </div>
                        <div class="ruki-description d-flex  justify-content-center  mt-2">
                            <h6>Руки Милості невтомно працюють.І лише ваша підтримка дозволяє рухатися вперед</h6>
                        </div>
                        <div class="ruki-button mt-3">
                            <a href="#"></a><button class="button-section">Підтримати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section ruki-->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші спонсори</h2>
                    <p class="text-center description-text">
                        Спонсорська допомога для благодійного фонду — це можливість підтримати тих, хто потребує захисту</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- sponsor-galler-sectiony-->
    <section class="sponsor-galler-sectiony">
        <div class="container">
            <div class="row justify-content-center align-items-center gap-5 mt-5">
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/sponsor1.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/sponsor2.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sponsor-card">
                        <img src="{% static 'image/sponsor1.png' %}" alt="logo-sponsor-ruki-milosty">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sponsor-galler-sectiony -->

        <!-- text -->
        <section class="text-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                        <h2 class="main-text">Часті питання</h2>
                    </div>
                </div> 
            </div>
        </section>
        <!-- text -->

    <!-- new card -section-->
    <section class="new-style mt-3 pb-5">
        <div class="container">
            <div class="row align-items-center justify-content-center gap-2">
                <div class="card-new-one" style="background:linear-gradient(to bottom, #D9D9D9, #F2F2F2);">
                    <div class="card-new-one-body d-flex flex-column ms-2">
                        <div class="card-new-one-description">
                            <h5>Як з нами зв'язатися?</h5>
                        </div>
                        <div class="card-new-one-description-text mt-4 p-2">
                            <h6>Ми завжди на зв'язку та готові вислухати вас. Фонд "Руки Милості" відкритий для питань, пропозицій та підтримки тим, хто потребує допомоги. Зв'яжіться з нами у будь-який час!</h6>
                        </div>
                    </div>
                </div>
                <div class="card-new-two" style="background:linear-gradient(to bottom, #FFE6AD, #FFF0CF);">
                    <div class="card-new-two-body d-flex flex-column ms-2">
                        <div class="card-new-two-description">
                            <h5>Соціальний центр</h5>
                        </div>
                        <div class="card-new-two-description-text mt-5 p-2">
                            <h6>Ми завжди готові прийти на допомогу тим, хто потребує. Фонд "Руки Милості" підтримує людей у ​​складних ситуаціях, даруючи турботу, тепло та надію на краще.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center gap-2 mt-2">
                <div class="card-new-two"  style="background:linear-gradient(to bottom, #DCEDF6, #ECF9FF);">
                    <div class="card-new-two-body d-flex flex-column ms-2">
                        <div class="card-new-two-description">
                            <h5>Фінансова допомогу фонду</h5>
                        </div>
                        <div class="card-new-two-description-text mt-5 p-2">
                            <h6>Ви можете надати грошову допомогу, переказуючи будь-яку суму на реквізити, зазначені на банківських картках. Ваша підтримка допоможе нам продовжувати надавати допомогу тим, хто її потребує</h6>
                        </div>
                    </div>
                </div>
                <div class="card-new-one" style="background:linear-gradient(to bottom, #CFF5E5, #E5FDF3);">
                    <div class="card-new-one-body d-flex flex-column ms-2">
                        <div class="card-new-one-description">
                            <h5>Де слідкуват за новінами та проєктами</h5>
                        </div>
                        <div class="card-new-one-description-text mt-4 p-2">
                            <h6>Ви можете стежити за нашими проєктами на нашому сайті та у наших соц мережах, де ми публікуємо всі актуальні новини та оновлення.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new card -section-->

{% endblock%}