{% extends "app/base.html" %}
{% load static %}
{% block title %}Новина фонду{% endblock %}
{% block content %}
         <!-- text -->
        <section class="text-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex flex-column align-items-center mt-2">
                        <h2 class="main-text">{{news.name}}</h2>
                     
                        <p class="text-center description-text">Актуальные события, проекты и помощь фонда "Руки Милости" – поддержка нуждающихся, гуманитарная помощь, благотворительные инициативы и отчёты.</p>
                    </div>
                </div> 
            </div>
        </section>
        <!-- text -->
        <!-- секция  button -->
        <section class="section-button d-flex justify-content-center mt-2">
            <a href="#"></a><button class="button-section">Підтримати фонд</button>
        </section>
        <!-- секция  button -->
    
        <!-- секция  картинка -->
        <section class="container-fluid p-3">
            <img src="{{ news.main_image.url }}" class="full-screen-image" alt="">
        </section>
        <!-- секция  картинка -->
        
        <section class="projects-detail-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3 small-column justify-content-start pb-4 mt-4">
                        <div class="detail-data">
                            <p>Дата статті : <strong>{{news.created_at|date:"Y-m-d"}}</strong></p>
                        </div>
                        <div class="detail-avtor">
                            <p>Автор : <strong>{{news.author}}</strong></p>
                        </div>
                        <div class="detail-soc d-flex justify-content-start align-items-center flex-row gap-3 mt-2">
                            <a href="#"><img src="{% static 'image/deyail-instagram.svg' %}" class="detail-logo" alt="logo-ruki-milosty"></a>
                            <a href="#"><img src="{% static 'image/detail-facebook.svg' %}" class="detail-logo-youtube" alt="logo-ruki-milosty"></a>
                            <a href="#"><img src="{% static 'image/detail-face.svg' %}" class="detail-logo" alt="logo-ruki-milosty"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 mt-4">
                        <div class="detail-text-description">
                            <p>{{news.description}}</p>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    
        <section class="detail-image-section">
            <div class="container">
                <div class="row justify-content-center gap-2">
                    <div class="col-auto">
                          <img src="{{ news.main_image.url }}" alt="Random Image 1" class="detail-random-img">
                    </div>
                    <div class="col-auto">
                        <img src="{{ news.main_image.url }}" alt="Random Image 1" class="detail-random-img">
                  </div>
                </div>
            </div>
        </section>
    
        <section class="osoblivosty-detail mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 justify-content-start osoblivosty-detail mt-4">
                        <h5>Особливість проєкту</h5>
                        <div class="osoblivosty-line"></div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="osoblivosty-detail-text mt-5">
                            <p>{{news.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- text -->
        <section class="text-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                        <h2 class="main-text"> Інші новини</h2>
                    </div>
                </div> 
            </div>
        </section>
        <!-- text -->
    
    
        <!-- секция   Card -->
        <section class="card-news-section mt-5">
            <div class="container mt-2">
                <div class="row justify-content-center gap-3">
                    {% for news in news_projects %}
                        <div class="news-card d-flex justify-content-center flex-column position-relative" style="background-image: url('{{ news.main_image.url }}'); background-repeat: no-repeat; background-size: cover;">
                            <a href="{% url 'hands:news-detail' news.slug %}" class="news-card-style" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <!-- Слой затемнения -->
                                <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.1);"></div>
                                <!-- Текстовый контент сверху -->
                                <div class="news-card-body text-light position-absolute">
                                    <div class="news-items">
                                        <h5>{{news.name|truncatechars:20}}</h5>
                                    </div>
                                    <div class="news-description pt-2">
                                        <h6>{{news.description|truncatechars:80}}</h6>
                                    </div>
                                    <div class="news-top mt-5 me-auto">
                                        <p>Дивитись новину</p>
                                    </div>
                                </div>
                            </a> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- секция   Card -->
    
        <!-- секция  button -->
        <section class="section-button d-flex justify-content-center mt-5">
            <a href="{%  url 'hands:news' %}"><button class="button-section">Переглянути новини</button></a>
        </section>
        <!-- секция  button -->
    
         <!-- секция   first-page-->
        <section class="slaider-section">
            <div id="carouselExampleInterval" class="carousel slide slider-container" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch1.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch2.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                    <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch3.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch4.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch5.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch6.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch7.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch9.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch10.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch11.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch12.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch15.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch16.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch17.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch18.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch19.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch20.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch21.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch22.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch23.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch24.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch25.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch26.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch27.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch28.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch29.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch30.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch31.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <!-- секция   first-page-->

    
        <!-- section ruki-->
        <section class="ruki-section">
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
    
                        <div class="ruki-body-column d-flex justify-content-center flex-column align-items-center">
                            <div class="ruki-text">
                                <h3>Підтримати благодійний фонд</h3>
                            </div>
                            <div class="ruki-item mt-2">
                                <p>Руки Милості</p>
                            </div>
                            <div class="ruki-description d-flex  justify-content-center  mt-2">
                                <h6>Руки Милості невтомно працюють.І лише ваша підтримка дозволяє рухатися вперед</h6>
                            </div>
                            <div class="ruki-button mt-3">
                                <a href="#"></a><button class="button-section">Підтримати</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section ruki-->
{% endblock%}