{% extends "app/base.html" %}
{% load static %}
{% block title %}Всі новіні фонду Руки Милості - Дніпро{% endblock %}
{% block content %}

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші новини</h2>
                    <p class="text-center description-text">Благодійний фонд "Руки милості" активно працює над безліччю ініціатив, спрямованих на допомогу тим, хто опинився у складній життєвій ситуації. Ми пишаємося тим, що можемо підтримувати людей, які потребують піклування та уваги, і прагнемо зробити наш світ трохи кращим. Ось деякі з наших проектів:</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
    <!-- секция  button -->
    <section class="section-button d-flex justify-content-center mt-5">
        <a href="#"></a><button class="button-section">Підтримати фонд</button>
    </section>
    <!-- секция  button -->

    <!-- секция   first-page-->
    <section class="slaider-section">
        <div id="carouselExampleInterval" class="carousel slide slider-container" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'image/children/ch1.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch2.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
                <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch3.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch4.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch5.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch6.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch7.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch9.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch10.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch11.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch12.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch15.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch16.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch17.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch18.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch19.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch20.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch21.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch22.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch23.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch24.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch25.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch26.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch27.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch28.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch29.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch30.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch31.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- секция   first-page-->


      <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Усі новини</h2>
                    <p class="text-center description-text">Останні події та важливі новини нашого фонду. Дізнавайтеся про нові проєкти, акції допомоги та звіти про виконану роботу.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

    <!-- секция   Card -->
    <section class="card-news-section mt-5">
        <div class="container mt-2">
            <div class="row justify-content-center gap-3">
                {% for new in news %}
                    <div class="news-card d-flex justify-content-center flex-column position-relative" style="background-image: url('{{ new.main_image.url }}'); background-repeat: no-repeat; background-size: cover;">
                        <a href="{% url 'hands:news-detail' new.slug %}" class="news-card-style" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <!-- Слой затемнения -->
                            <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.1);"></div>
                            <!-- Текстовый контент сверху -->
                            <div class="news-card-body text-light position-absolute">
                                <div class="news-items">
                                    <h5>{{new.name|truncatechars:20}}</h5>
                                </div>
                                <div class="news-description pt-2">
                                    <h6>{{new.description|truncatechars:80}}</h6>
                                </div>
                                <div class="news-top mt-5 me-auto">
                                    <p>Дивитись новину</p>
                                </div>
                            </div>
                        </a> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- секция   Card -->
    <section class="section-pagination mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center align-items-center">
                    <nav aria-label="pagination">
                        <ul class="pagination pagination-lg">
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>


    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наша допомога</h2>
                    <p class="text-center description-text">Тисячі людей отримали допомогу, підтримку та турботу</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
      <!-- new card -section-->
    <section class="new-style mt-3">
        <div class="container">
            <div class="row align-items-center justify-content-center gap-2">
                <div class="card-new-one">
                    <div class="card-new-one-body d-flex flex-column ms-2">
                        <div class="card-new-one-description">
                            <h5>Психологічна допомога</h5>
                        </div>
                        <div class="card-new-one-description-text mt-4 p-2">
                            <h6>Фонд "Руки Милості" надає психологічну допомогу людям у складних життєвих ситуаціях, підтримуючи тих, хто потребує турботи та допомоги у подоланні стресу і труднощів через консультації фахівців.</h6>
                        </div>
                    </div>
                </div>
                <div class="card-new-two">
                    <div class="card-new-two-body d-flex flex-column ms-2">
                        <div class="card-new-two-description">
                            <h5>Соціальний центр</h5>
                        </div>
                        <div class="card-new-two-description-text mt-5 p-2">
                            <h6>Фонд "Руки Милості" надає житло в соціальних центрах, де люди знаходять затишок, спокій та турботу. Ми допомагаємо тим, хто опинився у скрутній ситуації, створюючи комфортні умови для життя та відновлення.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center gap-2 mt-2">
                
                <div class="card-new-three">
                    <div class="card-new-three-body d-flex flex-column ms-2">
                        <div class="card-new-three-description">
                            <h5>Роздаємо нужденним</h5>
                        </div>
                        <div class="card-new-three-description-text mt-5 p-2">
                            <h6>Фонд надає допомогу великій кількості людей, які потрапили у складні життєві обставини. Ми роздаємо продукти харчування, в тому числі хліб і випічку, а також надаємо психологічну допомогу, підтримуючи тих, хто переживає стрес чи тривогу. Наші ініціативи допомагають людям отримати не лише матеріальну підтримку, а й емоційну рівновагу, що важливо для подолання труднощів у житті. Ми завжди поруч, готові допомогти кожному, хто потребує підтримки.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new card -section-->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Напрямок нашої діяльності</h2>
                    <p class="text-center description-text">Надаємо допомогу людям, надаючи тимчасове житло та підтримку.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->

     <!-- detache-section -->
    <section class="new-ditache-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="new-ditache-image mt-3">
                        <img src="{% static 'image/team/team5.jpg' %}" alt="" class="image-fluid fixed-image-ditache">
                    </div>
                    <div class="new-ditache-item mt-4">
                        <h5>Дитячий розвиток</h5>
                    </div>
                   
                    <div class="new-ditache-item-description mt-5">
                        <h6>Ми багато уваги приділяємо роботі з дітьми, оскільки віримо, що їхнє майбутнє залежить від підтримки і розвитку вже в ранньому віці. Ми організували понад 20 тематичних дитячих таборів, заходів, профілактичних лекцій, а також створили кілька безпечних і дружніх просторів для розвитку дітей. Наші ініціативи допомагають дітям і підліткам не лише покращувати психологічний стан, а й адаптуватися до сучасних викликів і розвивати ключові життєві навички, необхідні для успішної соціалізації та самореалізації.</h6>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc2.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Сімейні зустрічі</h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Головне значення таких зустрічей – це ЖИВЕ СПІЛКУВАННЯ, що так важливе в сучасному світі зі швидким темпом життя. Часто батьки не мають часу для щирих розмов із дітьми, тому ці заходи допомагають краще зрозуміти одне одного, обговорити важливі моменти та підтримати дитину, даруючи їй відчуття безпеки й любові.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc3.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Вплив</h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Проекти СІМЕЙНИХ ЗУСТРІЧЕЙ мають величезне позитивне вплив на дітей та всю родину. Вони сприяють зміцненню емоційного зв’язку між батьками та дітьми, допомагаючи краще зрозуміти одне одного. Це дає можливість дітям відчути підтримку, любов і безпеку, що є основою їхнього здорового психоемоційного розвитку. Активності, такі як спільні ігри та руханки, не лише сприяють фізичному розвитку, а й допомагають дітям розвивати соціальні навички, навички співпраці та взаєморозуміння.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc1.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Розвиток родини</h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Для батьків такі зустрічі є нагодою для відновлення контакту з дітьми, а також можливістю краще зрозуміти їхні потреби та емоції. Вони допомагають створювати атмосферу довіри та тепла в родині, що є важливим фактором у вихованні здорових стосунків.Загалом, такі проекти є важливим інструментом для розвитку і зміцнення родинних зв’язків, покращення емоційного клімату в родині та сприяють здоровому розвитку дітей у гармонійній та підтримуючій атмосфері.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- detache-section -->
   

    <!-- section ruki-->
    <section class="ruki-section">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">

                    <div class="ruki-body-column d-flex justify-content-center flex-column align-items-center">
                        <div class="ruki-text">
                            <h3>Підтримати благодійний фонд</h3>
                        </div>
                        <div class="ruki-item mt-2">
                            <p>Руки Милості</p>
                        </div>
                        <div class="ruki-description d-flex  justify-content-center  mt-2">
                            <h6>Руки Милості невтомно працюють.І лише ваша підтримка дозволяє рухатися вперед</h6>
                        </div>
                        <div class="ruki-button mt-3">
                            <a href="#"></a><button class="button-section">Підтримати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section ruki-->


  
    
{% endblock%}