{% extends "app/base.html" %}
{% load static i18n %}
{% block title %}{% trans "Проєкт фонду" %}{% endblock %}
{% block content %}
         <!-- text -->
        <section class="text-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex flex-column align-items-center mt-2">
                        <h2 class="main-text">{{projects.name}}</h2>
                        {% if projects.status == 'open' %}
                            <p class="text-center description-text">{% trans "Проєкт:" %}<strong style="color:#E77B2D">{% trans "відкрито." %}</strong></p>
                        {% else %}
                            <p class="text-center description-text">{% trans "Проєкт:" %}<strong style="color:#E77B2D">{% trans "закрито." %}</strong></p>
                        {% endif %}
                        <p class="text-center description-text">{% trans "Актуальні події, проєкти та допомога фонду Руки Милості - підтримка нужденних, гуманітарна допомога, благодійні ініціативи та звіти." %}</p>
                    </div>
                </div> 
            </div>
        </section>
        <!-- text -->
        <!-- секция  button -->
        <section class="section-button d-flex justify-content-center mt-2">
            <a href="{%  url 'hands:oplata' %}"><button class="button-section">{% trans "Підтримати фонд" %}</button></a>
        </section>
        <!-- секция  button -->
    
        <!-- секция  картинка -->
        <section class="container-fluid p-3">
            <img src="{{ projects.main_image.url }}" class="full-screen-image" alt="{{projects.name}}">
        </section>
        <!-- секция  картинка -->
        {% if projects.partner %}
            <section class="osoblivosty-detail mt-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 justify-content-start osoblivosty-detail mt-4">
                            <h5>{% trans "Партнери фонду" %}</h5>
                            <div class="osoblivosty-line"></div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="osoblivosty-detail-text mt-5">
                                <p class="partner-fond">{{projects.partner}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif%}
    
        
        <section class="projects-detail-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3 small-column justify-content-start pb-4 mt-4">
                        <div class="detail-data">
                            <p>{% trans "Дата статті : "%}<strong style="color:#E77B2D">{{projects.created_at|date:"Y-m"}}</strong></p>
                        </div>
                        <div class="detail-avtor">
                            <p>{% trans "Автор : " %}<strong>{{projects.author}}</strong></p>
                        </div>
                        
                        <div class="project-open">
                            {% if projects.status == 'open' %}
                                <p>{% trans "Проект : " %}<strong  style="color:#E77B2D">{% trans "відкрито." %}</strong></p>
                            {% else %} 
                                <p>{% trans "Проект : " %}<strong  style="color:#E77B2D">{% trans "закрито." %}</strong></p>  
                            {% endif %}     

                        </div>
                        <div class="detail-soc d-flex justify-content-start align-items-center flex-row gap-3 mt-2">
                            <a href="https://www.instagram.com/arms_of_mercy.dnipro?igsh=MWxkdTE2ZDZqcTBrMw%3D%3Dhttps%3A%2F%2Fww" target="_blank"><img src="{% static 'image/deyail-instagram.svg' %}" class="detail-logo" alt="logo-ruki-milosty"></a>
                            <a href="https://www.facebook.com/AoM.Dnipro" target="_blank"><img src="{% static 'image/detail-facebook.svg' %}" class="detail-logo-youtube" alt="logo-ruki-milosty"></a>
                            <a href="https://www.youtube.com/@armsofmercy.dnipro" target="_blank"><img src="{% static 'image/detail-face.svg' %}" class="detail-logo" alt="logo-ruki-milosty"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 mt-4">
                        <div class="detail-text-description">
                            <p>{{projects.description}}</p>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    
        <section class="detail-image-section mt-4">
            <div class="container">
                <div class="row justify-content-center gap-2">
                    {% if projects.project_image1 %}
                        <div class="col-auto">
                            <img src="{{ projects.project_image1.url }}" alt="Random Image 1" class="detail-random-img">
                        </div>
                    {% endif %}
                    {% if projects.project_image2 %}
                        <div class="col-auto">
                            <img src="{{ projects.project_image2.url }}" alt="Random Image 1" class="detail-random-img">
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    
        <section class="osoblivosty-detail mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 justify-content-start osoblivosty-detail mt-4">
                        <h5>{% trans "Особливість проєкту" %}</h5>
                        <div class="osoblivosty-line"></div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="osoblivosty-detail-text mt-5">
                            <p>{{projects.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- text -->
        <section class="text-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                        <h2 class="main-text">{% trans "Інші проєкти" %}</h2>
                    </div>
                </div> 
            </div>
        </section>
        <!-- text -->
    
    
        <!-- секция   Project -->
        <section class="card-project-section">
            <div class="container mt-2">
                <div class="row justify-content-center gap-3">
                    <!-- секция   Project -->
                    {% for item in random_projects %}
                        <div class="project-card d-flex justify-content-center flex-column">
                            <a href="{% url "hands:projects-detail" item.slug %}" class="project-card-link">
                                <img src="{{ item.main_image.url }}" class="imag-projects-card" alt="card">
                                <div class="card-body mt-3">
                                    <h5>{{item.name|truncatechars:28}}</h5>
                                </div>
                                <div class="card-description">
                                    <h6>{{item.description|truncatechars:110}}</h6>
                                </div>
                                <div class="project-status d-flex justify-content-between">
                                    {% if project.status == 'open' %}
                                        <span class="project-close">{{ item.get_status_display }}</span>
                                    {% else %}
                                        <span class="project-close">{% trans "Закритий" %}</span>
                                    {% endif %}
                                    <span class="project-month">{{item.created_at|date:"Y-m"}}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor%}    
                    <!-- секция   Project -->
                 
                </div>
            </div>
        </section>
        <!-- секция   Project -->
    
        <!-- секция  button -->
        <section class="section-button d-flex justify-content-center mt-5">
            <a href="{%  url 'hands:projects' %}"><button class="button-section">{% trans "Переглянути проекти" %}</button></a>
        </section>
        <!-- секция  button -->
          <!-- секция   first-page-->
        <section class="slaider-section">
            <div id="carouselExampleInterval" class="carousel slide slider-container" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch1.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch2.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                    <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch3.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch4.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch5.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch6.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch7.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch9.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch10.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch11.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch12.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch15.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch16.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch17.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch18.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch19.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch20.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch21.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch22.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch23.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch24.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch25.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch26.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch27.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch28.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch29.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch30.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'image/children/ch31.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <!-- секция   first-page-->
    
    
        <!-- section ruki-->
        <section class="ruki-section">
            <div class="container">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
    
                        <div class="ruki-body-column d-flex justify-content-center flex-column align-items-center">
                            <div class="ruki-text">
                                <h3>{% trans "Підтримати благодійний фонд" %}</h3>
                            </div>
                            <div class="ruki-item mt-2">
                                <p>{% trans "Руки Милості" %}</p>
                            </div>
                            <div class="ruki-description d-flex  justify-content-center  mt-2">
                                <h6>{% trans "Руки Милості невтомно працюють.І лише ваша підтримка дозволяє рухатися вперед" %}</h6>
                            </div>
                            <div class="ruki-button mt-3">
                                <a href="{%  url 'hands:oplata' %}"><button class="button-section">{% trans "Підтримати" %}</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section ruki-->

{% endblock%}