{% extends "app/base.html" %}
{% load static %}
{% block title %}Всі проєкти фонду Руки Милості - Дніпро{% endblock %}
{% block content %}
     <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші проекти</h2>
                    <p class="text-center description-text">Актуальні події, проекти та допомога фонду "Руки Милості" – підтримка нужденних, гуманітарна допомога, благодійні ініціативи та звіти.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
     <!-- секция  button -->
    <section class="section-button d-flex justify-content-center mt-3">
        <a href="#"></a><button class="button-section">Підтримати фонд</button>
    </section>
    <!-- секция  button -->
      
      <!-- секция   first-page-->
    <section class="slaider-section">
        <div id="carouselExampleInterval" class="carousel slide slider-container" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'image/children/ch1.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch2.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
                <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch3.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch4.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch5.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch6.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch7.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch9.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch10.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch11.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch12.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch15.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch16.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch17.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch18.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch19.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch20.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch21.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch22.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch23.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch24.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch25.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch26.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch27.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch28.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch29.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch30.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image/children/ch31.jpg' %}" class="d-block w-100 slider-items" alt="Картинка Руки милости слайдер">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- секция   first-page-->
       
     <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наші проекти</h2>
                    <p class="text-center description-text">Наші проекти – реальна допомога тим, хто її потребує.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
    
     <!-- секция   Project -->
    <section class="card-project-section">
        <div class="container mt-2">
            <div class="row justify-content-center gap-3">
                {% for project in projects %}
                    <div class="project-card d-flex justify-content-center flex-column">
                        <a href="{% url "hands:projects-detail" project.slug %}" class="project-card-link">
                            <img src="{{ project.main_image.url }}" class="imag-projects-card" alt="card">
                            <div class="card-body mt-3">
                                <h5>{{project.name|truncatechars:20}}</h5>
                            </div>
                            <div class="card-description">
                                <h6>{{project.description|truncatechars:100}}</h6>
                            </div>
                            <div class="project-status d-flex justify-content-between">
                                {% if project.status == 'open' %}
                                    <span class="project-close">{{ project.get_status_display }}</span>
                                {% else %}
                                    <span class="project-close">Закритий</span>
                                {% endif %}
                                <span class="project-month">{{project.created_at|date:"Y-m-d"}}</span>
                            </div>
                        </a>
                    </div>
                {% endfor%}    
            </div>
        </div>
    </section>
   
    <!-- Пагинация -->
    <section class="section-pagination mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center align-items-center">
                    <nav aria-label="pagination">
                        <ul class="pagination pagination-lg">
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>


    
     <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Наша допомога</h2>
                    <p class="text-center description-text">Тисячі людей отримали допомогу, підтримку та турботу</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
       
    
     <!-- section-card-about -->
    <section class="card-page-news-section">
        <div class="container">
            <div class="row align-items-center justify-content-center mt-1 gap-2 pb-4">
                <div class="col-auto arctic-row">
                    <div class="card-page-new-top" style="background-color: #70fdca;">
                        <div class="card-page-news-body d-flex flex-column">
                            <div class="card-page-news-body--circul-top">
                                <img src="{% static 'image/circul-new.png' %}" alt="logo-style">
                            </div>
                            <div class="card-page-news-body--description d-flex flex-row">
                                <div class="card-page-news-body--description-item-top">
                                    <h3>Психологічна допомога</h3>
                                </div>
                                <div class="card-page-news-body--description-imgs-top">
                                    <img src="{% static 'image/projects-card.png' %}" alt="logo-style">
                                </div>
                            </div>
                            <div class="card-page-news-body--description-items-top">
                                <h4>Фонд "Руки Милості" надає психологічну допомогу людям, які потрапили до складних життєвих обставин. Ми підтримуємо тих, хто потребує турботи, уваги та душевної рівноваги</h4>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row align-items-center justify-content-center gap-2">
                <div class="col-auto">
                    <div class="card-page-new" style="background-color: #fcd477;">
                        <div class="card-page-news-body d-flex flex-column">
                            <div class="card-page-news-body--circul">
                                <img src="{% static 'image/circul-new.png' %}" alt="logo-style">
                            </div>
                            <div class="card-page-news-body--description d-flex flex-row">
                                <div class="card-page-news-body--description-item">
                                    <h3>Соціальний центр</h3>
                                </div>
                                <div class="card-page-news-body--description-img">
                                    <img src="{% static 'image/projects-card3.png' %}" alt="logo-style">
                                </div>
                            </div>
                            <div class="card-page-news-body--description-text px-4 mt-4">
                                <h4>Фонд "Руки Милості" надає житло в соціальних центрах, де люди знаходять затишок, спокій та турботу. Ми допомагаємо тим, хто опинився у скрутній ситуації, створюючи комфортні умови для життя та відновлення.</h4>
                            </div>

    
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card-page-new" style="background-color: #FADAFC">
                        <div class="card-page-news-body d-flex flex-column">
                            <div class="card-page-news-body--circul">
                                <img src="{% static 'image/circul-new.png' %}" alt="logo-style">
                            </div>
                            <div class="card-page-news-body--description d-flex flex-row">
                                <div class="card-page-news-body--description-item">
                                    <h3>Роздаємо хліб</h3>
                                </div>
                                <div class="card-page-news-body--description-imgs">
                                    <img src="{% static 'image/projects-card2.png' %}" alt="logo-style" class="card-image-about-center">
                                </div>
                            </div>
                            <div class="card-page-news-body--description-items px-4">
                                <h4>Фонд регулярно роздає хліб та випічку нужденним. Ми прагнемо підтримати людей у ​​складних життєвих обставинах, забезпечуючи їх свіжими продуктами. Наша допомога – це турбота, тепло та участь у житті кожного, хто цього потребує.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
                
        </div>
    </section>
    <!-- section-card-about -->
    
         
     <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Напрямок нашої діяльності</h2>
                    <p class="text-center description-text">Надаємо допомогу людям, надаючи тимчасове житло та підтримку.</p>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
     <!-- detache-section -->
    <section class="new-ditache-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="new-ditache-image mt-3">
                        <img src="{% static 'image/raznoe/raznoe6.jpg' %}" alt="" class="image-fluid fixed-image-ditache">
                    </div>
                    <div class="new-ditache-item mt-4">
                        <h5>Допомога суспільству</h5>
                    </div>
                
                    <div class="new-ditache-item-description mt-4">
                        <h6>Наша організація активно впроваджує освітні ініціативи, спрямовані на розвиток потенціалу кожної людини, незалежно від віку чи соціального статусу. Ми організовуємо різноманітні тренінги, семінари та навчальні програми для дітей і дорослих, що надають можливість розвивати нові навички, відкривати нові горизонти та готуватися до майбутніх викликів.</h6>
                    </div>
                    <div class="new-ditache-item-description mt-4">
                        <h6>Ми проводимогуманітарні, освітні та соціальні проєкти для всіх, хто потребує підтримки. Це ініціативи, де діти та батьки отримують необхідну допомогу, беруть участь у семінарах, дитячих таборах і клубах, що сприяють їхньому розвитку та соціальній адаптації.</h6>
                    </div>
                   

                </div>
                <div class="col-md-6 col-12">
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc2.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Проєкти розвидку</h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Наші тренінги орієнтовані на практичне навчання та особистісний розвиток. Для дітей ми проводимо програми, які допомагають не лише покращити академічні досягнення, але й розвивати соціальні навички, емоційну грамотність та креативність. Ми переконані, що саме ці навички є основою для успішного адаптування до життя в сучасному світі.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc3.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Соціальні проєкти </h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Наші психологічні тренінги орієнтовані на допомогу людям, які пережили травматичні події, зокрема тим, хто повернувся з війни. Ми пропонуємо програми, які допомагають відновити емоційну рівновагу, зменшити стрес і тривогу, а також надаємо інструменти для кращої адаптації в суспільстві. Психологічні тренінги допомагають не лише опрацювати пережиті травми, а й розвивати навички саморегуляції, відновлення внутрішньої сили та впевненості. Віримо, що підтримка в цей складний період є важливою складовою на шляху до повного відновлення та соціальної адаптації.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="new-ditache-card mt-3">
                        <div class="new-ditache-body">
                            <div class="new-ditache-card-column d-flex flex-row align-items-center gap-3">
                                <div class="circle">
                                    <img src="{% static 'image/soc1.svg' %}" alt="">
                                </div>
                                <div class="new-ditache-card-text-first d-flex mt-2">
                                    <h6>Висновок</h6>
                                </div>
                            </div>
                            <div class="new-ditache-card-text mt-4">
                                <h6>Ці програми допомагають не лише здобути нові знання, а й розвинути важливі соціальні навички, що сприяють більшій інтеграції в суспільство та зростанню особистої впевненості. Ми створюємо умови для того, щоб кожен, хто бере участь у наших тренінгах, міг відчути свою цінність і здатність змінювати своє життя на краще.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- detache-section -->

    <!-- text -->
    <section class="text-section">
        <div class="container">
            <div class="row d-flex flex-column justify-content-center gap-3">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">
                    <h2 class="main-text">Часті питання</h2>
                </div>
            </div> 
        </div>
    </section>
    <!-- text -->
      <!-- chasty-pitannia-section -->
    <section class="chasty-pitannia-section mt-5 p-4">
        <div class="container">
            <div class="row justify-content-center align-items-center g-1">
                <div class="col-auto">
                    <div class="chasty-pitannia-card-one">
                        <div class="chasty-pitannia-card-one--bady d-flex flex-column gap-3">
                            <div class="chasty-pitannia-card-one--bady-text">
                                <h5>Як з нами зв'язатися?</h5>
                            </div>
                            <div class="chasty-pitannia-card-one--bady-description px-4">
                                <h6>Ми завжди на зв'язку та готові вислухати вас. Фонд "Руки Милості" відкритий для питань, пропозицій та підтримки тим, хто потребує допомоги. Зв'яжіться з нами у будь-який час!</h6>
                            </div>
                            <div class="chasty-pitannia-card-one--bady-description-item px-4">
                                <p>м  Днипро</p>
                                <p>097 767 878 00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">

                    <div class="chasty-pitannia-card-two d-flex">
                        <div class="chasty-pitannia-card-two--bady d-flex flex-column gap-3">
                            <div class="chasty-pitannia-card-two--bady-text">
                                <h5>Як отримати допомогу?</h5>
                            </div>
                            <div class="chasty-pitannia-card-two--bady-description px-4">
                                <h6>Ми завжди на зв'язку та готові вислухати вас. Фонд "Руки Милості" відкритий для питань, пропозицій та підтримки тим, хто потребує допомоги. Зв'яжіться з нами у будь-який час!</h6>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row justify-content-center align-items-center g-1 mt-1">
            
                <div class="col-auto">

                    <div class="chasty-pitannia-card-three d-flex">
                        <div class="chasty-pitannia-card-two--bady d-flex flex-column">
                            <div class="chasty-pitannia-card-two--bady-text">
                                <h5>Як надати матеріальну допомогу фонду ??</h5>
                            </div>
                            <div class="chasty-pitannia-card-two--bady-description px-4">
                                <h6>Ви можете надати грошову допомогу, переказуючи будь-яку суму на реквізити, зазначені на банківських картках. Ваша підтримка допоможе нам продовжувати надавати допомогу тим, хто її потребує</h6>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-auto">
                    <div class="chasty-pitannia-card-four">
                        <div class="chasty-pitannia-card-one--bady d-flex flex-column gap-3">
                            <div class="chasty-pitannia-card-one--bady-text">
                                <h5>Скільки існує фонд ??</h5>
                            </div>
                            <div class="chasty-pitannia-card-one--bady-description px-4">
                                <h6>Створення ініціативної групи для допомоги постраждалим від анексії Криму та військової агресії РФ на Сході України з 2014 року</h6>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- chasty-pitannia-section -->

     <!-- section ruki-->
    <section class="ruki-section">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 text-center d-flex justify-content-center flex-column align-items-center">

                    <div class="ruki-body-column d-flex justify-content-center flex-column align-items-center">
                        <div class="ruki-text">
                            <h3>Підтримати благодійний фонд</h3>
                        </div>
                        <div class="ruki-item mt-2">
                            <p>Руки Милості</p>
                        </div>
                        <div class="ruki-description d-flex  justify-content-center  mt-2">
                            <h6>Руки Милості невтомно працюють.І лише ваша підтримка дозволяє рухатися вперед</h6>
                        </div>
                        <div class="ruki-button mt-3">
                            <a href="#"></a><button class="button-section">Підтримати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section ruki-->

{% endblock%}